<header class="header text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Build a landing page for your business or project and generate more leads!</h1>
      </div>
      <div class="col-md-10 col-lg-8 mx-auto">
        <form >
          <div class="form-row">
            <div class="col-12 col-md-8 mb-2">
              <input class="form-control form-control-lg" type="email" placeholder="Enter Your Email...">
            </div>
            <div class="col-md-3">
              <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</header>