<section class="main-overlay text-center">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <h2>Ready to get started? Sign up now!</h2>
    </div>
    <div class="col-md-10 col-lg-8 mx-auto">
      <form >
        <div class="form-row">
          <div class="col-md-9 mb-2">
            <input class="form-control form-control-lg" type="email" placeholder="Enter Your Email...">
          </div>
          <div class="col-md-3">
            <button class="btn btn-block btn-primary btn-lg"> Sign Up!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
